* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #f8f8f7;
	color: #3C3C3D;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
h1 {
	color: #3C3C3D;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 3em;
	margin: 0 0 20px;
	text-align: center;
}
@media only screen and (max-width: 768px) {
	h1 {
		font-size: 2em;
		width: 90%;
		margin: auto;
	}
}
h3 {
	color: #3C3C3D;
	font-size: 1.5em;
	text-align: center;
	margin: 0 0 20px;
}
@media (max-width: 768px) {
	h3 {
		font-size: 1em;
	}
}
hr {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #fff;
	margin: 25px 0;
	clear: both;
}
.centered {
	text-align: center;
}
.wrapper {
	width: 100%;
	padding: 30px 0;
}
@media only screen and (max-width: 768px) {
	.wrapper {
		width: 100%;
		padding: 5px 0;
	}
}
.container {
	width: 500px;
	margin: 0 auto;
}
@media (max-width: 1599px) {
	.container {
		width: auto;
		padding: 0 10px;
	}
}
ul.grid-nav {
	list-style: none;
	font-size: .85em;
	font-weight: 300;
	text-align: center;
}
ul.grid-nav li {
	display: inline-block;
}
ul.grid-nav li a {
	display: inline-block;
	background: #7D7B73;
	color: #fff;
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
@media (max-width: 768px) {
	ul.grid-nav li a {
		font-weight: bold;
	}
}
ul.grid-nav li a.address {
	background: #B5B3AA;
}
ul.grid-nav li a.rsvp {
	background: #B5B3AA;
}
ul.grid-nav li a:hover {
	background: #F2E59B;
}
ul.grid-nav li a.active {
	background: #DEBD02;
}
@media (max-width: 480px) {
	ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav li a {
		display: block;
	}
	ul.rig {
		margin-left: 0;
	}
	ul.rig li {
		/*width: 100% !important;  over-ride all li styles */
		margin: 0 0 20px;
	}
}
.grid-container {
	display: none;
}
/* ----- Image grids ----- */
ul.rig {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%; /* should match li left margin */
}
ul.rig li {
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ul.rig li img {
	max-width: 100%;
	height: auto;
	margin: auto;
}
ul.rig li h3 {
	margin: 0 0 5px;
}
ul.rig li p {
	font-size: .9em;
	line-height: 1.5em;
	color: #999;
}
/* class for 2 columns */
ul.rig.columns-2 li {
	width: 47.5%; /* this value + 2.5 should = 50% */
}

/* class for 3 columns */
ul.rig.columns-3 li {
	width: 30.83%; /* this value + 2.5 should = 33% */
}
/* class for 4 columns */
ul.rig.columns-4 li {
	width: 22.5%; /* this value + 2.5 should = 25% */
}
ul.rig.columns-6 li {
	width: 14.16%; /* this value +2.5 should = 16 */
}
@media only screen and (max-width: 768px) {
	ul.engaged.rig.columns-2 li {
		width: 97.5%;
	}
	ul.rig.columns-4 li {
		width: 47.5%;
	}
}
img.engaged {
	height: 50%;
}
a.header-link {
	color: #3C3C3D;
	text-decoration: none;
}
/* general tab styles */
#section {
	font-size: 1em;
	margin: 0 auto;
	padding-bottom: 50px;
	width: 75%;
}
@media (max-width: 768px) {
	#section {
		width: 100%;
	}
	#section p {
		font-size: 1em;
	}
}
#details {
	padding-top: 2%;
}
#details p a {
	text-decoration: none;
}
#details-expanded {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2%;
}
#details-expanded p a {
	text-decoration: none;
}
#details-form {
	margin-left: 2.5%;
	padding-top: 15px;
}
/* "landing" tab */
/* invisible tab in nav */


/* "surprise" tab */
.surprise-tab {
	visibility: hidden;
}

/* "our story" tab */
img.story2 {
	width: 25%;
	float: right;
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	margin-top: -2em;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
	img.story2 {
		width: 50%;
	}
}
img.story1 {
	width: 45%;
	float: right;
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	margin-top: 2em;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
	img.story1 {
		width: 100%;
	}
}
.quote {
	background-color: rgba(181, 179, 170, 0.15);
	margin: 1% 0 0 5%;
	padding: 5px;
	width: 80%;
}
.quote p {
	font-size: 0.8em;
	padding: 5px;
}
@media (max-width: 768px) {
	.quote {
		font-size: 0.8em;
	}
}
.their-story p {
	padding-top: 15px;
}
#their-story-ending {
	padding-top: 55px;
}

/* "the wedding" tab */
@media (min-width: 769px) {
	#save-the-date {
		padding-left: 25%;
		width: 50%;
	}
}
.their-wedding-location {
	background-color: rgba(181, 179, 170, 0.15);
	margin: 1% 0 0 0;
	padding-bottom: 2%;
	padding-left: 1%;
	width: 100%;
}
img.lorimar5 {
	/*width: 20%;*/
	height: 90px;
	float: right;
	display: inline-block;

	margin: 0 0 2.5% 2.5%;
	margin-right: 1em;
	margin-top: -5.2em;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
img.lorimar2 {
	/*width: 20%;*/
	height: 90px;
	float: right;
	display: inline-block;

	margin: 0 0 2.5% 2.5%;
	margin-right: 1em;
	margin-top: -5.2em;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
	img.lorimar5 {
		margin-top: -4.7em;
		height: 75px;
	}
	img.lorimar2 {
		display: none;
	}
}
.their-wedding-date {

}
.their-wedding-schedule {

}
.their-wedding-schedule .side-note {
	padding-top: 0.5em;
}

/* "the weekend tab" */
.their-weekend {

}
.their-weekend-airports {

}
.their-weekend-airports a li {
	font-size: 12px;
}
.their-weekend-airports a li p {
	padding-top: 5%;
}
.airport-images {

}
.their-weekend-stay .side-note {
	padding-top: 0.5em;
}
.hotel-images {
	margin-bottom: -0.2%;
	width: 65px;
}
.details-map {

}
@media (max-width: 768px) {
	.details-map {
		width: 100%;
	}
}

/* "address request" tab */



/* "rsvp" tab */
.details-form {
	frameborder: 0;
	marginheight: 0;
	marginwidth: 0;
}
@media (max-width: 768px) {
	.details-form {
		width: 100%;
	}
}

/* "registries" tab */
.their-registries-stores {

}
.their-registries-stores a li {
	font-size: 12px;
}
.their-registries-stores a li p {
	padding-top: 5%;
}
.registries-images {
	height: 100px;	
}
.their-registries-note {
	padding-bottom: 15%;
}